.home {
  padding: 0 0 40px;
}

.country-list {
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  gap: 40px;
  --min-column-size: 16rem;
  grid-template-columns: repeat(auto-fit, minmax(min(var(--min-column-size), 100%), 1fr));
  padding: 0 56px;
  
  @media (min-width: 1400px) {
    gap: 74px;
    padding: 0 0;

    &:hover {
      .card {
        opacity: 0.8;
      }
    }
  }

  &__initial-text {
    color: var(--text-color)
  }
}

.card {
  @media (min-width: 1400px) {
    transition: opacity 320ms ease-in-out;

    &:hover {
      opacity: 1 !important;   
    }
  }
}

.header {
  margin-bottom: 24px;

  @media (min-width: 1400px) {
    margin-bottom: 48px;
  }
}

.filters {
  padding: 0 16px;
  margin-bottom: 32px;

  @media (min-width: 1400px) {
    margin-bottom: 48px;
  }
  
  &__container {
    max-width: 1280px;
    margin: 0 auto;

    @media (min-width: 1400px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.search {
  margin-bottom: 40px;

  @media (min-width: 1400px) {
    margin-bottom: 0;
  }
}