.filter-select {
  width: 200px;
  height: 48px;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
  display: flex;
  position: relative;
  align-items: center;
  padding: 14px 24px;
  margin-bottom: 32px;
  justify-content: space-between;
  cursor: pointer;
  background-color: var(--elements-color);

  &.open {
    .filter-select__container {
      display: block;
    }
  }

  &__selected {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: var(--text-color);

    @media (min-width: 1400px) {
      font-size: 14px;
    }
  }

  &__container {
    display: none;
    list-style: none;
    width: 100%;
    padding: 16px 24px;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
    border-radius: 5px;
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    background-color: var(--elements-color);

    @media (min-width: 1400px) {
      &:hover {
        .filter-select__item {
          opacity: 0.6;
        }
      }
    }
  }

  &__item {
    transition: opacity 150ms ease-in;
    cursor: pointer;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--text-color); 

    @media (min-width: 1400px) {
      font-size: 14px;

      &:hover {
        opacity: 1 !important;
      }
    }
    
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__arrow {
    color: var(--text-color); 
  }
}